{% extends 'layout.html' %}
{% block title %} Post list {% endblock %}
{% block content %}
<header>
    {% for category in categories %}
        <a href="/category/{{ category.id }}/posts">{{ category.name }} </a>
    {% endfor %}
    <a href="/add_article/">
        <button type="button">Добавить запись</button>
    </a>
</header>
<h1 style="padding-left: 400px; color: white">List of posts</h1>
{% for post in posts %}
    <div class="post-block">
    <a href="/posts/{{ post.id }}/">{{ post.title }}</a>
    <p>Категория - {{ post.category.name }}</p>
    <p>Дата создания - {{ post.created }}</p>
    <hr/>
    </div>

{% endfor %}
{% endblock %}