<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/posts/">Posts list page</a>
<h4>{{ post.title }}</h4>
<p>{{ post.text }}</p>
<p>{{ post.category.name }}</p>
<p>{{ post.created }}</p>
<hr/>
<h3>Комментарии</h3>
{% for comment in comments %}
    <p>{{ comment.text }}</p>
{% endfor %}
<form action="/posts/{{ post.id }}/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать комментарий</button>
</form>
</body>
</html>